* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Edu+QLD+Beginner:wght@500&family=Edu+VIC+WA+NT+Beginner&display=swap');

body {
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Edu QLD Beginner', cursive;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

.contenido .proyect {
    background-image: url(../img/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.header {
    background-color: #12203e;
    color: #fff;
    display: flex;
    align-items: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px 1%;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    font-size: 20px;
    color: white;
    font-weight: bold;
    position: relative;
    padding: 30px;
    background-color: rgba(0, 0, 255, 0.199);
    width: 100px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
}

.logo span {
    color: aqua;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    position: relative;
    float: left;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 20px;
    display: block;
}

.menu ul li a:hover {
    background-color: rgba(0, 132, 255, 0.164);

}

.menu ul li i {
    padding: 10px;
    color: aqua;
}

.contenedor {
    text-align: justify;
}

.contenedor .header {
    border-radius: 5px;
}

.contenido .bienv {
    font-size: 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 55px;
    background-color: gray;
    color: white;
    padding: 20px;
    width: 210px;
    border-radius: 15px;
    justify-content: center;
}

main .site-title {
    --opacidad-negro: 0.7;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)),
            rgba(0, 0, 0, var(--opacidad-negro))),
        url("../img/fts.jpg");
    background-size: cover;
    height: 91vh;
    display: flex;
    justify-content: center;
}

header {
    border-bottom: 5px solid aqua;
}

main .site-title .site-background {
    padding-top: 0rem;
    margin-top: 0px;
    text-align: center;
    color: white;
}

.name {
    padding: 30px;
    font-size: 20px;
}

.name .linea {
    background-color: aqua;
    height: 4px;
    width: 150px;
}

.site-background {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.img {
    border: 2px solid aqua;
    width: 24%;
    height: 60%;
    padding: 15px;
    border-radius: 6px;
    transform: scale(1.05);
}

.img:hover {
    transform: scale(1.05);
}

.img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.nombre {
    color: aqua;
}

.info h2 {
    margin-bottom: 10px;
}

.info {
    text-align: justify;
    width: 50%;

}

.download-cv {
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 15px;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Edu QLD Beginner', cursive;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

.download-cv:hover {
    background-color: white;
    box-shadow: none;
}

.conten {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.conten .card {
    color: white;
    height: auto;
    width: 250px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 50px;
    border-radius: 20px;
    background-color: rgb(170, 179, 179);
    box-shadow: 10px 10px 10px #12203e;
    transition: transform .2s;
    display: flex;
    Flex-flow: column;
}

.conten .card:hover {
    box-shadow: 10px 10px 10px blue;
    transform: scale(1.05);
}

.contenedor .card img {
    width: 100%;
    height: 65%;
    border-radius: 10px;
}

.contenedor .card .parrafo {
    color: black;
}

.contenedor .card .btn {
    display: block;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    background-color: #12203e;
    color: white;
    font-size: 20px;
    margin-top: auto;

}

.contenedor .card .btn:hover {
    background-color: blue;
    color: white;
}

.footer {
    background-color: #12203e;
    color: #fff;
    width: 100%;
}

.footerPagina {
    background-color: #12203e;
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footerPagina .copy {
    display: flex;
    justify-content: right;
    width: 100%;
    padding: 5px;
    gap: 20px;
    align-items: center;
}

.footerPagina .redes {
    padding: 40px;
    background-color: rgba(0, 0, 255, 0.199);
    width: 20%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.footerPagina .redes a {
    text-decoration: none;
    margin: 10px;
    font-size: 28px;
}

.footerPagina .redes .fa-facebook {
    color: #1877f2;
}

.footerPagina .redes .fa-whatsapp {
    color: #25d366;
}

.footerPagina .redes .fa-twitter {
    color: #00acee;
}

.footer .copy {
    display: flex;
    justify-content: right;
    width: 100%;
    padding: 5px;
    gap: 20px;
    align-items: center;
}

.footer .redes {
    padding: 40px;
    background-color: rgba(0, 0, 255, 0.199);
    width: 20%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.footer .redes a {
    text-decoration: none;
    margin: 10px;
    font-size: 28px;
}

.footer .redes .fa-facebook {
    color: #1877f2;
}

.footer .redes .fa-whatsapp {
    color: #25d366;
}

.footer .redes .fa-twitter {
    color: #00acee;
}

@media screen and (max-width: 950px) {
    .header {
        display: block;
    }

    .logo {
        display: block;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        position: static;
    }

    .menu {
        display: block;
    }

    .menu ul li {
        position: static;
        float: none;
        display: inline-block;

    }
}


@media screen and (max-width: 860px) {
    .menu ul li {
        text-align: center;
        display: block;
    }
}

@media screen and (max-width: 768px) {
    main .site-title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
    }

    .name h2 {
        display: flex;
        justify-content: center;
    }

    .name .linea {
        display: flex;
        align-items: center;
        margin: 0px auto;
        justify-content: center;
    }

    .site-background {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    .img {
        border: 2px solid aqua;
        width: 50%;
        height: 60%;
        padding: 15px;
        border-radius: 6px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .info h2 {
        margin-bottom: 10px;
        gap: 10px;
        display: flex;
        justify-content: center;
    }

    .info a {
        display: flex;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .info {
        text-align: justify;
        width: 100%;
        padding: 10px;
    }

    .download-cv {
        padding: 10px 20px;
        background-color: aqua;
        border: none;
        border-radius: 15px;
        margin-top: 30px;
        cursor: pointer;
        box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-family: 'Edu QLD Beginner', cursive;
        font-family: 'Edu VIC WA NT Beginner', cursive;
    }

    .download-cv:hover {
        background-color: white;
        box-shadow: none;
    }

    .footer .copy {
        display: block;
        text-align: center;
    }

    .footer .redes {
        width: auto;
    }
}

/* Pagina Quienes Somos */
.section {
    width: 60%;
    height: auto;
    padding: 30px;
    border-radius: 5px;
    background-color: rgb(213, 218, 218);
    box-shadow: 7px 7px 7px blue;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mision {
    margin-top: 30px;
}

@media screen and (max-width: 768px) {
    .section {
        text-align: center;
    }
}

/* Pagina Ubicacion */
.section .map iframe {
    height: 300px;
    width: 100%;
}

/* Pagina de contactanos */
.sectForm {
    width: 30%;
    height: auto;
    padding: 30px;
    border-radius: 5px;
    background-color: rgb(213, 218, 218);
    box-shadow: 7px 7px 7px blue;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sectForm h2 {
    display: flex;
    justify-content: center;
}

.imgContact {
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 2px solid;
}

.imgContact h2 {
    width: 100%;
}

.general {
    display: block;
    justify-content: center;
    margin: 0 auto;
    width: auto;

}

.general input {
    margin-top: 10px;
    height: 30px;
    border: none;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
}

.general input:hover {
    border: 2px solid blue;
}

.general textarea {
    width: 100%;
    border: none;
    border-radius: 4px;
}

.general button {
    border: none;
    border-radius: 7px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: aqua;
    font-family: 'Edu NSW ACT Foundation',
        cursive;
    font-family: 'Edu QLD Beginner',
        cursive;
    font-family: 'Edu VIC WA NT Beginner',
        cursive;
}

.general button:hover {
    background-color: black;
    color: white;
}

.general textarea:hover {
    border: 2px solid blue;
}

.enlaces {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin: 20px;
}

.enlaces a {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    color: blue;
}

.enlaces a:hover {
    color: black;
}

.video video {
    width: 100%;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .sectForm {
        width: 70%;
        text-align: center;
    }   
}